.text-area-as-label {
    -fx-background-color:       transparent ;
    -fx-background-insets:      0px ;
}

.background {
    -fx-background-image:       url("../icons/bg.jpg");
    -fx-background-size:        auto auto;
}

.leftMenu {
    -fx-background-image:       url("../icons/bgblack.jpg");
    -fx-background-size:        auto auto;;

}

.rightContent {

}

.search {
    -fx-background-image:       url("../icons/search_white.png");
    -fx-background-size:        25 25;
    -fx-background-repeat:      no-repeat;
    -fx-padding:                5 5 5 5;
    -fx-background-position:    center;
    -fx-pref-width:             60px;
    -fx-border-radius:          0px;

    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
        -fx-background-insets: 0,1,2,3;
        -fx-background-radius: 3,2,2,2;
        -fx-padding: 12 30 12 30;
}

.search:hover {
    -fx-border-width:           1;
    -fx-border-color:           #039ed3;
    -fx-border-radius:          3,2,2,2;
    -fx-effect:                 dropshadow( one-pass-box , #039ed3 , 28 , 0.0 , 0 , 0 );
}

.label {
    -fx-font-family:            Calibri;
}

.labelMenu {
    -fx-text-fill:              white;
}

.back {
    -fx-background-image:       url("../icons/back1_white.png");
    -fx-background-size:        25 25;
    -fx-background-repeat:      no-repeat;
    -fx-background-position:    center;
    -fx-padding:                5px;

    -fx-pref-width:             60px;
    -fx-border-radius:          0px;

    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
}
.back:hover {
    -fx-border-width:           1;
    -fx-border-color:           #039ed3;
    -fx-border-radius:          3,2,2,2;
    -fx-effect:                 dropshadow( one-pass-box , #039ed3 , 28 , 0.0 , 0 , 0 );
}

.edit {
    -fx-background-image:       url("../icons/edit_white.png");
    -fx-background-size:        20 20;
    -fx-background-repeat:      no-repeat;
    -fx-background-position:    center;
    -fx-padding:                5px;

    -fx-pref-width:             60px;
    -fx-border-radius:          0px;

    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
}
.edit:hover {
    -fx-border-width:           1;
    -fx-border-color:           #039ed3;
    -fx-border-radius:          3,2,2,2;
    -fx-effect:                 dropshadow( one-pass-box , #039ed3 , 28 , 0.0 , 0 , 0 );
}

.save {
    -fx-background-image:       url("../icons/save1_white.png");
    -fx-background-size:        20 20;
    -fx-background-repeat:      no-repeat;
    -fx-background-position:    center;
    -fx-padding:                5px;

    -fx-pref-width:             60px;
    -fx-border-radius:          0px;

    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
}
.save:hover {
    -fx-border-width:           1;
    -fx-border-color:           #039ed3;
    -fx-border-radius:          3,2,2,2;
    -fx-effect:                 dropshadow( one-pass-box , #039ed3 , 28 , 0.0 , 0 , 0 );
}

.textfield:hover {
    -fx-effect:               dropshadow( one-pass-box , #039ed3 , 18 , 0.0 , 0 , 0 );
}